<div class="tableau-wrapper">
    <p>
        <mat-toolbar>
            <img class="tableau-icon" src="./../../assets/tableau-icon.png" />
            <span>{{dashboardName}}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>{{viewIsFavorite}}</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Reset the dashboard">
                <mat-icon>undo</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Information about the dashboard" (click)="openDialog()">
                <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Back button" (click)="closeDashboard()">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-toolbar>
    </p>
    <div class="tableau-viz-container">
        <tableau-viz [id]="divId" [src]="vizUrl" width="{{ getScreenWidth}}" height="{{ getScreenHeight}}" toolbar="{{toolbar}}" token="{{connectedAppToken}}"></tableau-viz>
    </div>
</div>