<mat-card>
    <mat-card-title>App Login</mat-card-title>
    <mat-card-content>
        <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-icon class="login-icon">person</mat-icon>
                <mat-form-field>
                    <input type="text" matInput placeholder="username" formControlName="username">
                </mat-form-field>
            </p>
            <p>
                <mat-icon class="login-icon">lock</mat-icon>
                <mat-form-field>
                    <input type="password" matInput placeholder="password" formControlName="password">
                </mat-form-field>
            </p>
            <p *ngIf="error" class="error">
                {{ error }}
            </p>
            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>